/*GENERAL*/
body {
  margin: 0 auto;
  font-family: sans-serif;
  background: #f6f7f5;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  justify-content: center;
}

/*HEADER*/
h1 {
  font-size: 36px;
  color: #374850;
  text-align: center;
}

#icon-food {
  font-size: 34px;
}

h2 {
  color: #374850;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

/*FORM*/
.form-container {
  background: #dde0ab;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 10px;
  padding: 20px 0;
}

#generator-form {
  max-width: 400px;
  text-align: center;
}

.ingredients {
  font-size: 20px;
  background: #f6f7f5;
  border: 1px solid #374850;
  transition: all 150ms ease-in-out;
  padding: 10px;
  border-radius: 10px;
}

.ingredients:hover {
  background: #fd5959;
  color: #f6f7f5;
  border: 1px solid #f6f7f5;
}

.submit {
  font-size: 20px;
  background: #374850;
  color: #f6f7f5;
  border: 1px solid #f6f7f5;
  transition: all 150ms ease-in-out;
  padding: 10px;
  border-radius: 10px;
}

.submit:hover {
  background: #fd5959;
  color: #f6f7f5;
  border: 1px solid #f6f7f5;
}

.example {
  color: #374850;
  text-align: left;
  margin-top: 7px;
  padding-left: 50px;
}

#recipe {
  border: 2px solid #fd5959;
  margin: 20px auto;
  border-radius: 10px;
}

#recipe p {
  padding: 20px 30px;
  color: #374850;
}

.Typewriter__wrapper {
  color: #374850;
  line-height: 2;
}

.recipe-hidden {
  display: none;
}

/*FOOTER*/
footer {
  color: #374850;
  margin-top: 50px;
  text-align: center;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  color: #fd5959;
}
